.create-board {
  width: 300px;
  height: 150px;
  background-color: rgb(201, 201, 186);
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  align-items: center;
}


form{
  padding: 10px;
}


