header {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .mode {
    display: flex;
  }
  
  .large-icon {
    width: 50px;
    height: 25px;
  }
  
  .heading {
    font-weight: 600;
    font-size: 1.5rem;
  }
  